[Unit]
Description=Locker Users Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/penia/locker_venv/bin/python /home/penia/services/users/users_server.py
Restart=always
RestartSec=1
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target